<ion-row>
  <ion-col text-center>
    <button ion-button [color]="color" clear (click)="shareViaFacebook()">
      <ion-icon name="logo-facebook"></ion-icon>
    </button>
    <button ion-button [color]="color" clear (click)="shareViaInstagram()">
      <ion-icon name="logo-instagram"></ion-icon>
    </button>
    <button ion-button [color]="color" clear (click)="shareViaTwitter()">
      <ion-icon name="logo-twitter"></ion-icon>
    </button>
    <button ion-button [color]="color" clear (click)="shareViaWhatsApp()">
      <ion-icon name="logo-whatsapp"></ion-icon>
    </button>
    <button ion-button [color]="color" clear (click)="shareViaEmail()">
      <ion-icon name="mail"></ion-icon>
    </button>
  </ion-col>
</ion-row>